.cutom-button {
  text-align: center;
  font: 16px;
  background-color: aqua;
  color: black;
  border: limegreen;
  border-radius: 10px;
  cursor: pointer;
  padding: 40px;
  font-size: large;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Full width of viewport */
  height: 100vh; /* Full height of viewport */
}
