.footercontianerdown {
  height: 200px;
  width: 100%;
  border: 3px solid #00ff66;
  background-color: rgb(245, 245, 245);
}





.mainfooter {
  width: 100%;
  height: 230px;
  background-color: #415161;
  border: 4px solid red;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  width: 100%;
  height: 230px;
  background-color: #415161;
  border: 4px solid red;
}


.footergrid {
  height: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 5px; /* Adjust as needed */
}

.inner-box {
  background-color: #415161;
}

.inner-box.inner-box4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-box {
  width: 20px; /* Set width for each child box */
  height: 20px; /* Set height for each child box */
  background-color: #ffffff; /* Default background color for child boxes */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Transition effect */
  padding: 15px;
  margin: 8px;
  cursor: pointer;
}

.child-box:hover {
  background-color: red; /* Change background color on hover */
}

.child-box i {
  color: black; /* Default color for icon */
  border: 2px solid red;
  padding: 4px;
  height: 20px;
  width: 220px;
}

.child-box:hover i {
  color: white; /* Change color of icon on hover */
}
ul.a {
  list-style-type: none;
}

/* Style the list items */
ul.a li {
  color: white; /* Initial color */
  margin: 5px 0; /* Add margin */
  list-style-type: none;
  margin-left: 20px;
}

/* Change color on hover */
ul.a li:hover {
  color: red;
  cursor: pointer; /* Optional: change cursor on hover */
  list-style-type: none;
}

/* /// */

ul.b {
  list-style-type: none;
}

/* Style the list items */
ul.b li {
  color: white; /* Initial color */
  margin: 5px 0; /* Add margin */
  list-style-type: none;
  margin-left: 20px;
}

/* Change color on hover */
ul.b li:hover {
  color: red;
  cursor: pointer; /* Optional: change cursor on hover */
  list-style-type: none;
}

.footerdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 130px;
  width: 100%;
  border: 3px solid hsl(197, 100%, 50%);
  /* gap:50px 100px; */

}


.footerdownchild {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 80px;
  margin: 40px;
  padding-top: 5px;
}

